.main.css
main.css
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button{
    font-family: 'Arvo',cursive;
    font-weight: normal;
}

body, input, textarea{
    font-family: 'roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #3a3a3b;
    color: #ecf0f1;
}


header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;

}
header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


section .container{
    align-items: flex-start;
}
section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
    color:  #3a3a3b;
}

section{
    color: #3a3a3b;
}

section p{
    margin-bottom: 8px;
}

.store-font {
    margin-right: 32px;
}

.social-links img{
    height:35px  ;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}
.social-links li a{
    text-decoration: none;
}
#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content:space-between ;
}

form input,
form textarea {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}
form button {
    display: block;
    width: 340px;
    margin-bottom: 8px;
    padding: 8px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color: #3a3a3b;
    color:  #ecf0f1;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color:#3a3a3b
}

input:focus, textarea:focus{
    outline-color: #3a3a3b;
}

footer{
    background-color: #3a3a3b;
    color:#ecf0f1;
    padding: 16px 0 ;
}
.chevrolet{
    width: 700px ;
    height: auto;
}

.articles {
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img{ 
/*height: 180px;*/
width: 100%;

}

.articles article {
    width: 30%;
}
.articles article{
    margin-bottom: 16px;
}

.articles article h3{
    margin-top:  8px;
    margin-bottom: 8px;
}
.articles article a {
    background-color: #3a3a3b;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}